body {
    background-color: powderblue;

}
hr {
    border-style: dotted none none none;
    border-color: lightsteelblue;
    border-width: 6px;
    background-color: powderblue;
    width: 15%;
    height: 30px;
}
h1 {
    background-color: rgb(10, 10, 10);
    color:#eef124;
    text-align: center;
    text-shadow: 2px 2px 5px #b8b538ee;
    

}
h3 {
    background-color: powderblue;
    color:rgb(253, 250, 255);
    text-decoration:underline solid;
    text-shadow:1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
h2 {
    background-color: powderblue;
    color: rgba(216, 74, 18, 0.76);
    text-align: left;
    text-decoration:underline double;
    letter-spacing: 3px;
    text-shadow:2px 2px 4px #d87658;
    

}
h4.a{
    background-color: powderblue;
    color:#051367;
    text-align: left;
    text-shadow:0 0 3px #FF0000, 0 0 5px #0000FF;

}
h4.b{
    background-color: powderblue;
    color:#051367;
    text-align: left;
    text-shadow:0 0 3px #485bcad8 ;
    

}
h5 {
    background-color: powderblue;
    color:#111f9ca4;
    font-family: "Lucida Handwriting",Cursive;

}